.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

.img{
    width: 134px;
    height: 44px;
}

.list{
    display: flex;
    list-style: none;
    gap: 15px;
    text-align: center;
    margin-top: 10px;
    color: #575757;
}